<div class="conteiner-fluid">
	<%= render 'tecnico/menu' %>
		<div>
			<p>El servicio ha sido cancelado satisfactoriamente.</p>
			<a href="/tecnico/agenda/trabajos" class="btn btn-primary btn-lg active" role="button">Regresar a agenda</a>
        </div>
</div>