<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<%= image_tag("nosotros.jpg", class: "img-responsive") %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">

			
			
			<div class="col-lg-6">		
						<div class="text-center texto-azul">	
			<h2><span>			Acerca de nosotros:	</span>	</h2></div>
		
			<div class="text">
			Somos un grupo de estudiantes de pregrado de ingeniería de sistemas, que quieren conectar personas a través de una aplicación web que pretende ser una plataforma que te de la capacidad de encontrar al técnico que necesitas, y para lo que necesites.
			</div>
			<div class="text">
			Si tienes un problema con un electrodoméstico, o cualquier aparato electrónico o digital, usa nuestro servicio para conectarte con la persona adecuada!
			</div>
			<h3>¿Quienes somos?</h3>

				<ul>
					<li>Juan Carlos Gama Roa
				</li>
					<li>Juan David Quintero</li>
					<li>Diego Abel Cruz</li>
					<li>Alejandro Sierra</li>
					<li>David Felipe Rodriguez</li>
				</ul>

			</div>
			<div class="col-lg-6">
			
				<%= image_tag("jovenes.jpg", class: "img-responsive") %>
			</div>
				
		</div>
	</div>
</div>
