<div class="container">
	<h1>
		Acerca de nosotros:
	</h1>
	<div class="text">
	Somos un grupo de estudiantes de pregrado de ingeniería de sistemas, que quieren conectar personas a través de una aplicación web que pretende ser una plataforma que te de la capacidad de encontrar al técnico que necesitas, y para lo que necesites.
	</div>
	<div class="text">
	Si tienes un problema con un electrodoméstico, o cualquier aparato electrónico o digital, usa nuestro servicio para conectarte con la persona adecuada!
	</div>

	<h1>
		¿Quienes somos?
	</h1>
	<div class="container">
		<h3>
		Juan Carlos Gama Roa
		</h3>
		<h3>
		Diego Abel Cruz
		</h3>
		<h3>
		Alejandro Sierra
		</h3>
		<h3>
		David Felipe Rodriguez
		</h3>
		<h3>
		Juan David Quintero
		</h3>
	</div>
</div>
