

<!--<section class="bg-primary" id="about">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8 mx-auto text-center">-->
<!--            <h2 class="section-heading text-white">Noticias</h2>-->
<!--            <hr class="light">-->
<!--            <div class="container">-->
<!--    <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
    
      <!-- Wrapper for slides -->
<!--      <div class="carousel-inner">-->
      
<!--        <div class="item active">-->
<!--          <img src="http://placehold.it/760x400/cccccc/ffffff">-->
<!--           <div class="carousel-caption">-->
<!--            <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>-->
<!--            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>-->
<!--          </div>-->
<!--        </div><!-- End Item -->-->
 
<!--         <div class="item">-->
<!--          <img src="http://placehold.it/760x400/999999/cccccc">-->
<!--           <div class="carousel-caption">-->
<!--            <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>-->
<!--            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>-->
<!--          </div>-->
<!--        </div><!-- End Item -->-->
        
<!--        <div class="item">-->
<!--          <img src="http://placehold.it/760x400/dddddd/333333">-->
<!--           <div class="carousel-caption">-->
<!--            <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>-->
<!--            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>-->
<!--          </div>-->
<!--        </div><!-- End Item -->-->
        
<!--        <div class="item">-->
<!--          <img src="http://placehold.it/760x400/999999/cccccc">-->
<!--           <div class="carousel-caption">-->
<!--            <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>-->
<!--            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>-->
<!--          </div>-->
<!--        </div><!-- End Item -->-->

<!--        <div class="item">-->
<!--          <img src="http://placehold.it/760x400/dddddd/333333">-->
<!--           <div class="carousel-caption">-->
<!--            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>-->
<!--            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>-->
<!--          </div>-->
<!--        </div><!-- End Item -->-->
                
<!--      </div><!-- End Carousel Inner -->-->


<!--    <ul class="list-group col-sm-4">-->
<!--      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Lorem ipsum dolor sit amet consetetur sadipscing</h4></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>consetetur sadipscing elitr, sed diam nonumy eirmod</h4></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>tempor invidunt ut labore et dolore</h4></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>-->
<!--    </ul>-->

      <!-- Controls -->
<!--      <div class="carousel-controls">-->
<!--          <a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
<!--            <span class="glyphicon glyphicon-chevron-left"></span>-->
<!--          </a>-->
<!--          <a class="right carousel-control" href="#myCarousel" data-slide="next">-->
<!--            <span class="glyphicon glyphicon-chevron-right"></span>-->
<!--          </a>-->
<!--      </div>-->

<!--    </div><!-- End Carousel -->-->
<!--</div>-->
<!--</div>-->


<!--<section class="bg-primary" id="about">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8 mx-auto text-center">-->
<!--            <h2 class="section-heading text-white">Guias y tips</h2>-->
<!--            <hr class="light">-->
<!--            <ul>-->
<!--              <li><a href="#"> ¿Como saber si mi lavadora esta fallando?</a></li>-->
<!--              <li><a href="#"> Consejos para durar más tiempo con mi televisor</a></li>-->
<!--              <li><a href="#"> Televisores que me permiten usar menos energía</a></li>-->
<!--              <li><a href="#"> Que computadores debería comprar ahora?</a></li>-->
<!--              <li><a href="#"> Cafeteras con mas ventas en el mercado</a></li>-->
<!--              <li><a href="#"> Ventajas de las baterias portatiles</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->




<!-- Wrap -->
<div id="wrap"> 
  <!-- Progress  Bar -->
  <section class="sub-baner">
    <div class="container">
      <h3>Blog</h3>
      <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Blog</li>
      </ol>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Blog -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> 
            
            <!-- Blog -->
            <div class="blog-list"> 
              
              <!-- Article -->
              <article class="blog-post"> <img class="img-responsive" src="images/blog-img-1.jpg" alt="" >
                <div class="post-info"> 
                  <!-- Date -->
                  <div class="date"> 28 <span>Jul</span> </div>
                  <a href="#." class="post-tittle">¿Como saber si mi lavadora esta fallando?</a> 
                  <!-- Small Info -->
                  <div class="aut"> <i class="fa fa-user"></i><span>Admin</span> <i class="fa fa-folder-o"></i><span>servicios, tips, clientes</span> <i class="fa fa-comment-o"></i><span>2 Comentarios</span> </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                </div>
              </article>
              
              <!-- Article -->
              <article class="blog-post"> <img class="img-responsive" src="images/blog-img-1.jpg" alt="" >
                <div class="post-info"> 
                  <!-- Date -->
                  <div class="date"> 28 <span>Jul</span> </div>
                  <a href="#." class="post-tittle">Consejos para durar más tiempo con mi televisor</a> 
                  <!-- Small Info -->
                  <div class="aut"> <i class="fa fa-user"></i><span>Admin</span> <i class="fa fa-folder-o"></i><span>servicios, tips, clientes</span> <i class="fa fa-comment-o"></i><span>2 Comentarios</span> </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                </div>
              </article>
              
              <!-- Article -->
              <article class="blog-post"> <img class="img-responsive" src="images/blog-img-1.jpg" alt="" >
                <div class="post-info"> 
                  <!-- Date -->
                  <div class="date"> 28 <span>Jul</span> </div>
                  <a href="#." class="post-tittle">Televisores que me permiten usar menos energía</a> 
                  <!-- Small Info -->
                  <div class="aut"> <i class="fa fa-user"></i><span>Admin</span> <i class="fa fa-folder-o"></i><span>servicios, tips, clientes</span> <i class="fa fa-comment-o"></i><span>2 Comentarios</span> </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                </div>
              </article>
              
            </div>
          </div>
          
          <!-- Side Bar -->
          <div class="col-md-4"> 
            
            <!-- Blog -->
            <div class="sidebar"> 
              <!-- Search -->
              <div class="search">
                <input class="form-control" type="search" placeholder="Buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
              
              <!-- Categories -->
              <h6 class="margin-top-50">Categorías</h6>
              <ul class="cate archive">
                <li><a href="#."> Tecnicos <span>4</span></a></li>
                <li><a href="#."> Usuarios <span>28</span></a></li>
                <li><a href="#."> Tips <span>12</span></a></li>
                <li><a href="#."> Despues del servicio <span>4</span></a></li>
                <li><a href="#."> Anecdotas<span>9</span></a></li>
              </ul>
              
              <!-- Recent Posts -->
              <h6 class="margin-top-50">Posts más recientes</h6>
              <ul class="papu-post margin-top-30">
                <li class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="images/r-post-img.jpg" alt=""></a> </div>
                  <div class="media-body"> <a class="media-heading" href="#.">Aquí viene el título de post y puede ir en 2 líneas de texto si es lo suficientemente largo </a> <span>Jul 28, 2016</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="images/r-post-img-1.jpg" alt=""></a> </div>
                  <div class="media-body"> <a class="media-heading" href="#.">Título del post viene aquí</a> <span>Jul 18, 2015</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="images/r-post-img-2.jpg" alt=""></a> </div>
                  <div class="media-body"> <a class="media-heading" href="#.">Aquí viene el título de post y puede ir en 2 líneas de texto si es lo suficientemente largo</a> <span>Jul 18, 2015</span> </div>
                </li>
              </ul>
              
              <!-- Recent Posts -->
              <h6 class="margin-top-50">Archivo</h6>
              <ul class="cate archive">
                <li><a href="#."> Septiembre 2017 <span>4</span></a></li>
                <li><a href="#."> Agosto 2017 <span>28</span></a></li>
                <li><a href="#."> Agosto 2016 <span>12</span></a></li>
                <li><a href="#."> Julio 2016 <span>4</span></a></li>
                <li><a href="#."> Junio 2016 <span>9</span></a></li>
              </ul>
              
              <!-- Tags -->
              <h6 class="margin-top-50">Etiquetas</h6>
              <ul class="tags">
                <li><a href="#.">Servicios </a></li>
                <li><a href="#.">Clientes </a></li>
                <li><a href="#.">Pagos </a></li>
                <li><a href="#.">Solicitar </a></li>
                <li><a href="#.">Credito </a></li>
                <li><a href="#.">Excelente </a></li>
                <li><a href="#.">Seguro</a></li>
                <li><a href="#.">tarjeta de credito </a></li>
                <li><a href="#.">habilidades </a></li>
                <li><a href="#.">mapa </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>