<!-- Wrap -->
<div id="wrap"> 
  
  <!-- Progress  Bar -->
  <section class="sub-baner">
    <div class="container">
      <h3>Contáctenos</h3>
      <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Contácto</li>
      </ol>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Contact Us -->
    <section class="contact-us padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Contact Form -->
          <div class="col-md-7">
			<h3>Para contactarnos ingresa <br> los siguientes datos</h3>
			<form class="" method="post" action="#">
				
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Nombre</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" id="name"  placeholder="Ingrese su nombre"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="cols-sm-2 control-label">Apellido</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Ingrese su apellido"/>
						</div>
					</div>
				</div>
				

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Correo</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email"  placeholder="Ingrese su correo"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="comment" class="cols-sm-2 control-label">Comentarios</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-comment" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="comment" id="comment"  placeholder="Ingrese sus comentarios"/>
						</div>
					</div>
				</div>


				<div class="form-group ">
					<a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Enviar</a>
				</div>
				
			</form>
          </div>
          
          <!-- Contact Info -->
          <div class="col-md-5">
            <div class="contat-info">
              <h3>Llama <br>
                a cualquier hora! <span class="timing">ma-ju: 2pm-4pm Sa: 10am-5pm</span> </h3>
              
              <!-- Phone Info -->
              <ul>
                <li><i class="fa fa-phone"></i>
                  <h6>Atención al cliente</h6>
                  <h3><span>100 200</span> 301</h3>
                </li>
                <li><i class="fa fa-mobile-phone"></i>
                  <h6>soporte técnico</h6>
                  <h3><span>100 200</span> 301</h3>
                </li>
                <li><i class="fa fa-database"></i>
                  <h6>Problemas con tus pagos</h6>
                  <h3><span>100 200</span> 301</h3>
                </li>
              </ul>
              <h3  class="margin-top-50">Nuestra <br>
                Ubicación </h3>
              <ul>
                <li><i class="fa fa-home"></i>
                  <h6>Edificio 401 Julio Garavito<br>
                    Universidad Nacional de Colombia</h6>
                  <a href="#.">soporte@lakaiteam.com</a><br>
                  <a href="#.">unal.edu.co</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ESPACIO PARA  MAPA -->
    <section class="map-block">
      <div class="map-wrapper" id="map-canvas" data-lat="-37.814199" data-lng="144.961560" data-zoom="13" data-style="1"></div>
      <div class="markers-wrapper addresses-block"> <a class="marker" data-rel="map-canvas" data-lat="-37.814199" data-lng="144.961560" data-string="Envato"></a> </div>
    </section>
  </div>

</div>