<!--
<div class="container">
<form role="form">
  <div class="form-group">
    <label for="Nombre">Nombres</label>
    <input type="name" class="form-control" id="Nombre"
           placeholder="Nombres">
  </div>
  <div class="form-group">
    <label for="Apellido">Apellidos</label>
    <input type="name" class="form-control" id="Apellido"
           placeholder="Apellidos">
  </div>
  <div class="form-group">
    <label for="Email">Correo electrónico</label>
    <input type="email" class="form-control" id="Email"
           placeholder="Introduce tu correo electrónico">
  </div>
    <div class="form-group">
    <label for="Email">Comentarios</label>
    <br>
    <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
    </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</form>
</div>
 -->
<div class="container">
	<div class="row main">
		<div class="main-login main-center">
		<h5>Para contactarnos ingresa los siguientes datos</h5>
			<form class="" method="post" action="#">
				
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Nombre</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" id="name"  placeholder="Ingrese su nombre"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="cols-sm-2 control-label">Apellido</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Ingrese su apellido"/>
						</div>
					</div>
				</div>
				

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Correo</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email"  placeholder="Ingrese su correo"/>
						</div>
					</div>
				</div>
				
					<div class="form-group">
					<label for="comment" class="cols-sm-2 control-label">Comentarios</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-comment" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="comment" id="comment"  placeholder="Ingrese sus comentarios"/>
						</div>
					</div>
				</div>


				<div class="form-group ">
					<a href="http://deepak646.blogspot.in" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Enviar</a>
				</div>
				
			</form>
		</div>
	</div>
</div>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>