  <!-- Banner -->
  <section class="bnr-slide">
    <div class="single-slide"> 
    
    <h1><%= link_to "Log Out", destroy_worker_session_path, method: :delete %></h1>
      
      <!-- Slide 1 -->
      <div class="bg-slide-1">
        <div class="position-center-center">
          <div class="container">
            <h6>¡Cuando lo necesitas,</h6>
            <h4>Donde lo necesitas!<span>FACIL</span></h4>
            <a href="#." class="btn">Contratar servicio <i class="fa fa-long-arrow-right"></i></a> <a href="#." class="btn btn-fill">Soy Técnico<i class="fa fa-long-arrow-right"></i></a> </div>
        </div>
      </div>
      
      <!-- Slide 2 -->
      <div class="bg-slide-2">
        <div class="position-center-center">
          <div class="container">
            <h6>Màs de 100 Tècnicos cerca de ti</h6>
            <h4>Soporte <span>24 HORAS</span></h4>
            <a href="#." class="btn">Registrarme <i class="fa fa-long-arrow-right"></i></a> <a href="#." class="btn btn-fill">Ver màs <i class="fa fa-long-arrow-right"></i></a> </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Content -->
  <div id="content"> 
    
    <!-- Services -->
    <section class="power-hosting padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Tittle -->
        <div class="heading">
          <h2>UNA PLATAFORMA PARA FACILITAR TU VIDA</h2>
        </div>
        <ul class="row">
          
          <!-- 24/7 support -->
          <li class="col-md-3">
            <div class="icon"> <i class="fa fa-volume-control-phone"></i> </div>
            <h5>Soporte 24/7</h5>
            <p>Encuentra un técnico cerca a ti, a cualquier hora del dia y cualquier día de la semana.</p>
            <a href="#." class="btn">Más Información<i class="fa fa-long-arrow-right"></i></a> </li>
          
          <!-- Pro-Team -->
          <li class="col-md-3">
            <div class="icon"> <i class="fa fa-users"></i> </div>
            <h5>Técnicos calificados</h5>
            <p>Contamos con personal 100% calificado para solucionar cualquier problema que tengas.</p>
            <a href="#." class="btn">Más Información<i class="fa fa-long-arrow-right"></i></a> </li>
          
          <!-- Happy Customers -->
          <li class="col-md-3">
            <div class="icon"> <i class="fa fa-heart-o"></i> </div>
            <h5>clientes satisfechos</h5>
            <p>Nuestros clientes nos recomiendan, puedes ver sus comentarios sobre nuestros servicios.</p>
            <a href="#." class="btn">Más Información<i class="fa fa-long-arrow-right"></i></a> </li>
          
          <!-- Best Prices -->
          <li class="col-md-3">
            <div class="icon"> <i class="fa fa-money"></i> </div>
            <h5>los mejores precios</h5>
            <p>Contamos con los mejores precios del mercado.</p>
            <a href="#." class="btn">Más Información<i class="fa fa-long-arrow-right"></i></a> </li>
        </ul>
      </div>
    </section>
    
    <!-- SMALL INTRO -->
    <section class="bg-parrall padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="text-center">
          <h2>Una aplicacion pensada <span>para ti</span></h2>
          <a href="#." class="btn">Contratar <i class="fa fa-long-arrow-down"></i></a> </div>
      </div>
    </section>
    
    <!-- Choose Services -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Tittle -->
        <div class="heading">
          <h2>SERVICIOS DESTACADOS EN BOGOTA</h2>
        </div>
        
        <!-- Choose Plan -->
        <div class="choose-plan">
          <ul class="row">
            
            <!-- columna1 -->
            <li class="col-md-3">
              <article>
                <h4>Reparaciòn de Computadores</h4>

                <ul>
                  <li>Más de 200 Técnicos </li>
                  <li>Este mes descuento del 20%</li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- column2 -->
            <li class="col-md-3">
              <article>
                <h4>Reparaciòn de Lavadoras</h4>

                <ul>
                  <li>Más de 60 Técnicos</li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- columna3 -->
            <li class="col-md-3">
              <article>
                <h4>Reparaciòn de Televisores</h4>

                <ul>
                  <li>Más de 100 Técnicos </li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- Platinum -->
            <li class="col-md-3">
              <article>
                <h4>Reparaciòn de celulares</h4>

                <ul>
                  <li>Más de 80 Técnicos </li>
                  <li>Este mes descuento del 30%</li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Choose Services -->
    
    <!-- Choose Services -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Tittle -->
        <div class="heading">
          <h2>TÉCNICOS DESTACADOS EN BOGOTA</h2>
        </div>
        
        <!-- Choose Plan -->
        <div class="choose-plan">
          <ul class="row">
            
            <!-- columna1 -->
            <li class="col-md-3">
              <article>
                <h4>DIEGO CRUZ</h4>

                <ul>
                  <li>Técnico de Televisores</li>
                  <li>Un 96% de clientes lo recomiendan</li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- column2 -->
            <li class="col-md-3">
              <article>
                <h4>JUAN GAMA</h4>

                <ul>
                  <li>Técnico de Computadores</li>
                  <li>Empleado de año</li>
                  <li>Disponible las 24 horas</li>
                  <li>Un 98% lo recomienda</li>
                  <li></li>
              
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- columna3 -->
            <li class="col-md-3">
              <article>
                <h4>GUSTAVO PUENTES</h4>

                <ul>
                  <li>Tecnico de Impresoras </li>
                  <li>Un 78% lo recomienda</li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
            
            <!-- Platinum -->
            <li class="col-md-3">
              <article>
                <h4>ALEJANDRO SIERRA</h4>

                <ul>
                  <li>Técnico de Celulares</li>
                  <li>Empleado del mes</li>
                  <li>Un 97% lo recomienda</li>
                  <li></li>                </ul>
                <!-- Choose --> 
                <a href="#." class="btn">Contratar servicio</a> </article>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Choose Services -->
    
    
    <section class="testimonial padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Tittle -->
        <div class="heading">
          <h2>lo que otros usuarios han opinado <small>testimoniales</small></h2>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox"> 
            
            <!-- Slides 1 -->
            <div class="item active">
              <p>Pude reparar mi computador! El tècnico era una persona muy atenta y servicial.</p>
            </div>
            
            <!-- Slides 2 -->
            <div class="item">
              <p>Pude reparar mi computador! El tècnico era una persona muy atenta y servicial.</p>
            </div>
            
            <!-- Slides 3 -->
            <div class="item">
              <p>Pude reparar mi computador! El tècnico era una persona muy atenta y servicial.</p>
            </div>
          </div>
          
          <!-- Indicators -->
          <ol class="carousel-indicators">
            
            <!-- THUMB 1 -->
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
              <div class="media-left"> <img src="images/testi-avatar.jpg" alt=""> </div>
              <div class="media-body">
                <h6>Felipe Rodriguez</h6>
                <span>ferodriguez</span> </div>
            </li>
            
            <!-- THUMB 2 -->
            
            <li data-target="#carousel-example-generic" data-slide-to="1">
              <div class="media-left"> <img src="images/testi-avatar.jpg" alt=""> </div>
              <div class="media-body ">
                <h6>Tatiana Calderon</h6>
                <span>taticalderono</span> </div>
            </li>
            
            <!-- THUMB 3 -->
            
            <li data-target="#carousel-example-generic" data-slide-to="2">
              <div class="media-left"> <img src="images/testi-avatar.jpg" alt=""> </div>
              <div class="media-body ">
                <h6>Henry Ovalle</h6>
                <span>henryovalle22</span> </div>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>




















