  <!-- Banner -->
  <section class="bnr-slide">
    <div class="single-slide"> 
      
      <!-- Slide 1 -->
      <div class="bg-slide-1">
        <div class="position-center-center">
          <div class="container">
            <h6>¡Cuando lo necesitas,</h6>
            <h4>Donde lo necesitas!<span>FACIL</span></h4>
            <a href="#." class="btn">Contratar servicio <i class="fa fa-long-arrow-right"></i></a> <a href="#." class="btn btn-fill">Soy Técnico<i class="fa fa-long-arrow-right"></i></a> </div>
        </div>
      </div>
      
      <!-- Slide 2 -->
      <div class="bg-slide-2">
        <div class="position-center-center">
          <div class="container">
            <h6>Màs de 100 Tècnicos cerca de ti</h6>
            <h4>Soporte <span>24 HORAS</span></h4>
            <a href="#." class="btn">Registrarme <i class="fa fa-long-arrow-right"></i></a> <a href="#." class="btn btn-fill">Ver màs <i class="fa fa-long-arrow-right"></i></a> </div>
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <h1>
  Servicios Destacados en Bogotá
  </h1>
</div>

<div class="carousel-services black-block">
  <div class="container">
    <div class="row">
      <div id="carousel-services" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4 col-sm-6">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación computadores 1 </a>
                <p>Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs</p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación computadores 2 </a>
                <p>Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs</p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación computadores 3 </a>
                <p>Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs, Esta sección es para poner lo referente a arreglo de pcs</p>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="col-md-4 col-sm-6">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación electrodomesticos 1 </a>
                <p>Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos,</p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación electrodomesticos 2 </a>
                <p>Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos,</p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Reparación electrodomesticos 3 </a>
                <p>Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos, Esta sección es para poner lo referente a arreglo de electrodomesticos,</p>
              </div> 
            </div>
          </div>
        </div>
      <a class="left carousel-control" href="#carousel-services" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-services" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>
  Técnicos Destacados en Bogotá
  </h1>
</div>

<div class="carousel-tec black-block">
  <div class="container">
    <div class="row">
      <div id="carousel-tec" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4 col-sm-6">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 1 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 2 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div>  
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 3 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div>  
            </div>
          </div>
          <div class="item">
            <div class="col-md-4 col-sm-6">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 4 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 5 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div> 
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#"> Técnico 6 </a>
                <p>Descripcion Descripcion Descripcion Descripcion Descripcion Descripcion </p>
              </div> 
            </div>
          </div>
        </div>
      <a class="left carousel-control" href="#carousel-tec" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-tec" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1> Conectamos Personas </h1>
</div>  

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="block-foot">
        <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
      </div>
    </div>
    <div class="coll-md-6">
      <div class="block-text">
        <a title="" href="#"> caja </a>
      </div>
    </div>
  </div>
</div>
