<div class="container text-center registro">
	<div class="row">
		<div class="col-lg-6">
		<%= link_to 'Nesecito un técnico', new_customer_registration_path, class: 'button btn-default btn-primary btn-lg' %></div>
		
		<div class="col-lg-6">
		<%= link_to 'Soy un técnico', new_worker_registration_path, class: 'button btn-default btn-primary btn-lg' %>
		</div>
	</div>
</div>