<div class="container">
	<div class="row">
		<%= link_to 'Nesecito un técnico', new_customer_session_path, class: 'button btn-default btn-primary btn-lg' %>
		<%= link_to 'Soy un técnico', new_worker_session_path, class: 'button btn-default btn-primary btn-lg' %>
	</div>
</div>