<div class="opinion clearfix">
  <div class="opinion_content">
  	<div style="font-style: italic;"class="opinion_name"><strong><%= opinion.name %></strong></div>
  	<div class="opinion_body"><%= opinion.body %></div>
  </div>  	
  <% if administrator_signed_in? %> 
  <p><%= link_to 'Borrar Comentario ', [opinion.post, opinion],
                                       method: :delete,
                                       class: 'button',
                                       data: {confirm: '¿Estas seguro?'} %>	
  </p>
  <% end %>
</div>
