/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
/* line 154, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
#playground-container {
  height: 500px;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

/*

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
}

*/
/* line 171, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.main {
  margin: 50px 15px;
}

/* line 175, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 179, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
label {
  margin-bottom: 15px;
}

/* line 183, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

/* line 189, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* line 200, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.form-control {
  height: auto !important;
  padding: 8px 12px !important;
}

/* line 204, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}

/* line 209, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
#button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  border-radius: 3px 3px;
  -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eeeeee));
  background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

/* line 231, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background: #009edf;
  color: #FFF;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

/* line 244, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
span.input-group-addon i {
  color: #009edf;
  font-size: 17px;
}

/* line 249, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.login-button {
  margin-top: 5px;
}

/* line 253, /home/juancho/proyecto/app/assets/stylesheets/static_pages.scss */
.login-register {
  font-size: 11px;
  text-align: center;
}
