<h1>Felicitaciones, tu solicitud ha sido aceptada</h1>

<p>
  <%= @user_mail.name %>, <%= @tec.name %> ha aceptado tu solicitud, verifica dentro de tu cuenta que la petición haya sido realizada.   
</p>
