<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'cliente/menu' %>
    <div class="col-lg-9">

    	<h2> Horarios de <%= @tecnico.name %></h2>
      
			<% "#{@week} semana de #{@year}" %>

			<table class="table"> <%# TABLA DE HORARIOS %>
				<thead>
					<tr>
						<td>Hora</td>
						<td>Lunes</td>
						<td>Martes</td>
						<td>Miércoles</td>
						<td>Jueves</td>
						<td>Viernes</td>
					</tr>
				</thead>

        <tbody>
        <% for hora in 6..18 %>
					<tr>
						<td>
							<% hour = Time.at( (hora)*3600 )%>
							<%= hour.utc.strftime("%I:%M %p")  %>
						</td>

	    			<% 5.times do |day| %>
	    				<td>
								<% if not @horarios_ocupados[day + 1].nil? and @horarios_ocupados[day + 1 ].include?(hora + 6) %>
									<span style="color: red">Ocupado</span>
								<% else %>
									<%= link_to "Libre", cliente_tecnicos_interesados_apartar_cita_path(@tecnico.id, @request.id, @year, @week, day, hora ), method: :post %>
								<% end %>

							</td>
						<% end %>
        		</tr>
        	<% end %>
        </tbody>
			</table>

    </div>
  </div>
</div>
