<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'cliente/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>

      <div class="text-center"><h2>Tecnicos interesados en ayudarte</h2></div>
      
      <div class="table-responsive">

        <table class="table table-bordered">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Nombre del tecnico</th>
              <th>Peticion</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
            
            <% @peticiones.each do |peticion| %>
              <% peticion[:tecnicos].each do |t| %>
              <tr>
                  <td><%= t.worker.name %></td>
              </tr>
              <% end %>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
