<div class="conteiner-fluid">
	<%= render 'tecnico/menu' %>

		<div>
			<p>El servicio ha sido aceptado satisfactoriamente.</p>
			<a href="/tecnico/free_services" class="btn btn-primary btn-lg active" role="button">Regresar a servicios</a>
        </div>
</div>