<!--<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Acceder</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</nav>

<style>
  .footer {
  width: 100%;
  height: 80px;
  background-color: #000000;
  }
</style>

<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
  <a class="navbar-brand" href="/">FACILIDAD EN SERVICIOS </a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="us">Nosotros</a></li>
      <li><a href="contact">Contacto</a></li>
      <li><a href="blog">Blog</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <a href="register" class="btn btn-primary btn-lg">Volver</a>
</div>

<div class="container">
<form role="form">
  <div class="form-group">
    <label for="Nombre">Nombres</label>
    <input type="name" class="form-control" id="Nombre"
           placeholder="Nombres">
  </div>
  <div class="form-group">
    <label for="Apellido">Apellidos</label>
    <input type="name" class="form-control" id="Apellido"
           placeholder="Apellidos">
  </div>
  <div class="form-group">
    <label for="Email">Correo electrónico</label>
    <input type="email" class="form-control" id="Email"
           placeholder="Introduce tu correo electrónico">
  </div>
  <div class="form-group">
    <label for="Username">Nombre de usuario</label>
    <input type="name" class="form-control" id="Username" 
           placeholder="Usuario">
  </div>
  <div class="form-group">
    <label for="Roll">Roll que tendrás</label>
    <input type="name" class="form-control" id="Roll" 
           placeholder="Roll">
  </div>
  <div class="form-group">
    <label for="Pass">Contraseña</label>
    <input type="password" class="form-control" id="Pass" 
           placeholder="Contraseña">
  </div>
  <div class="form-group">
    <label for="Pass">Confirme Contraseña</label>
    <input type="password" class="form-control" id="Pass" 
           placeholder="Contraseña">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Acepto los términos y condiciones de uso
    </label>
  </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</form>
</div>

<footer class="footer">
      <div class="container">
        <p class="text-muted">2017 Todos los derechos reservados</p>
        <p class="text-muted">Universidad Nacional de Colombia</p>
      </div>
</footer>