// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// .carousel-control.left,.carousel-control.right  {width:25px;}
// .carousel-control.left {left:-25px;}
// .carousel-control.right {right:-25px;}

// .footer {
// 	width: 100%;
// 	height: 300px;

// 	background-color: #000000;
// }
// .overlay{
// 	color:black;
// }

// .black-block {
//     padding-bottom: 34px;
// }

// .block-text {
//     background-color: #000000;
//     color: #626262;
//     font-size: 14px;
//     margin-top: 27px;
//     padding: 15px 18px;
//     border-radius: 5px;
// }

// .block-text a {
//  	color: #ffffff;
//     font-size: 25px;
//     font-weight: bold;
//     line-height: 21px;
//     text-decoration: none;
//     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
// }

// .block-text p {
//     color: #585858;
//     font-family: Georgia;
//     line-height: 20px;
// }

// .block-foot {
//     background-color: #ffffff;
//     color: #626262;
//     font-size: 14px;
//     margin-top: 27px;
//     padding: 15px 18px;
//     border-radius: 5px;
// }

// .block-foot a {
//     color: #000000;
//     font-size: 25px;
//     font-weight: bold;
//     line-height: 21px;
//     text-decoration: none;
//     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
// }

// .block-foot p {
//     color: #585858;
//     font-family: Georgia;
//     line-height: 20px;
// }

// .block-body {
//     background-color: #ffffff;
//     color: #626262;
//     font-size: 14px;
//     margin-top: 27px;
//     padding: 15px 18px;
//     border-radius: 5px;
// }

// .block-body a {
//     color: #000000;
//     font-size: 38px;
// }

// block-body p {
//     color: #585858;
//     line-height: 20px;
// }

// .block {
//     display: block;
// }

// .container {
//     color: #000000;
// }

// .zmin {
//     z-index: 1;
// }

// //Blog

// section#about.bg-primary{
//     background: #fff;
// }

// body { padding-top: 50px; }

// #myCarousel .carousel-caption {
//     left:0;
// 	right:0;
// 	bottom:0;
// 	text-align:left;
// 	padding:10px;
// 	background:rgba(0,0,0,0.6);
// 	text-shadow:none;
// }

// #myCarousel .list-group {
// 	position:absolute;
// 	top:0;
// 	right:0;
// }


// #myCarousel .list-group-item {
// 	border-radius:0px;
// 	cursor:pointer;
// }
// #myCarousel .list-group .active {
// 	background-color:#eee;	
// }

// @media (min-width: 900px) { 
// 	#myCarousel {padding-right:33.3333%;}
// 	#myCarousel .carousel-controls {display:none;} 	
// }
// @media (max-width: 900px) { 
// 	.carousel-caption p,
// 	#myCarousel .list-group {display:none;} 
// }

// Contact Style

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
/*

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
}

*/

.main{
 	margin:50px 15px;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#009edf;
	color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


// .col-lg-8.mx-auto.text-center {
//     padding-bottom: 80px;
// }

// ul{
//     text-align:left;
// }