  <!-- FOOTER -->
  <footer class="footer">
    <div class="container"> 
      
      <!-- FOOTER UP -->
      <div class="footer-up">
        <div class="row"> 
          
          <!-- Phone -->
          <div class="col-md-6"> <img src="images/logo-foot.png" alt="" >
            <div class="media-left"> <i class="fa fa-phone"></i> </div>
            <div class="media-body">
              <h5>¿Necesitas ayuda? Contáctanos</h5>
              <h3><span>100 200</span> 301</h3>
            </div>
          </div>
          
          <!-- NewsLwtter -->
          
          <div class="col-md-6"> 
            
            <!-- NEWSLETTER -->
            <div class="newsletter text-right">
              <h6>Suscribete a nuestro NewsLetter</h6>
              <form>
                <label>
                  <input type="search" placeholder="Your Email Address">
                </label>
                <button type="submit"><i class="fa fa-envelope-o"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        
        <!-- ABOUT -->
        <div class="col-md-4">
          <h6>Contáctanos</h6>
          <ul class="personl-info">
            <li>
              <div class="media-left icons"> <i class="fa fa-home"></i> </div>
              <div class="media-body">
                <p>Edificio 401 Julio Garavito<br>
                  Universidad Nacional de Colombia</p>
              </div>
            </li>
            <li>
              <div class="media-left icons"> <i class="fa fa-support"></i> </div>
              <div class="media-body"> <a href="#.">soporte@lakaiteam.com</a> </div>
            </li>
            <li>
              <div class="media-left icons"> <i class="fa fa-envelope-o"></i> </div>
              <div class="media-body"> <a href="#.">info@lakaiteam.com</a> </div>
            </li>
          </ul>
        </div>
        
        <!-- Our Services -->
        <div class="col-md-5">
          <h6>Nuestros Servicios</h6>
          <ul class="service-link row">
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Shared Hosting</a></li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>VPS Hosting</a></li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Reseller Hosting</a> </li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Shared Hosting</a></li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>VPS Hosting</a></li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Reseller Hosting</a> </li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Reseller Hosting</a> </li>
            <li> <a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>Shared Hosting</a></li>
          </ul>
        </div>
        <div class="col-md-3"> 
          
          <!-- Social Icons -->
          <div class="social-icons">
            <h6>Siguenos en:</h6>
            <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a>
            <h6 class="margin-top-30">Medios de pago</h6>
            <%= image_tag 'card-icons.png', alt: 'imagen medios' %>
            <img src="../../images/card-icons.png" alt=" "> </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="rights">
    <p>Copyright 2017 © Faser. All rights reserved. Powered by Universidad Nacional de Colombia</p>
  </div>