<footer class="footer">

	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="block-foot rel zmin">
					<p><a title="" href="#">Como funciona</a></p>
					<p><a title="" href="#">Noticias</a></p>
					<p><a title="" href="#">Blog</a></p>
					<p><a title="" href="#">Arquitectura</a></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 hidden-xs">
				<div class="block-foot rel zmin">
					<p><a title="" href="#">Nosotros</a></p>
					<p><a title="" href="#">Ayuda</a></p>
					<p><a title="" href="#">Trabaja con nosotros</a></p>
					<p><a title="" href="#">Otros proyectos</a></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
				<div class="block-foot rel zmin">
					<p><a title="" href="#">Términos y ayuda</a></p>
					<p><a title="" href="#">Información legal</a></p>
					<p><a title="" href="#">Prácticas</a></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
				<h1>Medios de pago</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<p class="text-muted">2017 Todos los derechos reservados</p>
		<p class="text-muted">Universidad Nacional de Colombia</p>
	</div>
</footer>